{% include 'header.html' %}


<ul>

    {% for i in young %}
        <li>

            <h3>{{ i.name }}</h3>
            <p>{{ i.feature }}</p>
            <p>цена: {{ i.price }}</p>

            <img src="{{ i.photo.url }}" width="400" height="400">

        </li>
             <li class="list-group-item">{% for j in i.tags.all %}
                    <p>#{{ j.name }}</p>
                {% endfor %}</li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="/old_age_elect/" role="button">Пенсионеры</a>
    <a class="btn btn-primary" href="/young_age_elect/" role="button">Молодежь</a>
    <br>
    <br>
    <a class="btn btn-primary" href="/electronics/" role="button">Вернуться</a>


{% include 'footer.html'%}